<!DOCTYPE html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
    	  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <title>CSV Data Entry</title>
		  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		  <link href="/css/style.css" rel="stylesheet"/>
	</head>
	<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary h-90">
	  <div class="container-fluid container">
	    <a class="navbar-brand" href="#">
	      <img src="/img/logo.png" alt="Emkan Logo" height="40">
	    </a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="" id="navbarScroll">
	      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="#">IVR Process</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">IVR Configuration</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">SMS Configuration</a>
	        </li>  
	      </ul>
	    </div>
	  </div>
	</nav>
	 <img src="/img/background.jpg" alt="emkan building background" class="position-fixed" width="100%;">
	 <div class="container p-5 position-relative">
		<form action="" id="submitForm">
		 <div class="col-12 d-flex justify-content-between">
				
				<div class="col-4">
						<div class="col-12 mb-3 d-flex">
							<div class="col-3">
							  <label for="formFile" class="form-label">CSV file input</label>
							</div>
							<div class="col-9"> 
							  <input class="form-control" type="file" id="formFile"  accept=".csv" required>
							</div>
						</div>
						<div class="col-12 mb-3 d-flex">
							<div class="col-3">
								<label>Rate Limit</label>
							</div>
							<div class="col-9">
								<input type="number" class="form-control" id="rateLimit"/>
							</div>
						</div>
						<div class="col-12 mb-3 d-flex">
							<div class="col-3">
								<label>Period 1</label>
							</div>
							<div class="col-9">
								<input type="datetime-local" class="form-control" id="periodOne"/>
							</div>
						</div>
						<div class="col-12 mb-3 d-flex">
							<div class="col-3">
								<label>Period 2</label>
							</div>
							<div class="col-9">
								<input type="datetime-local" class="form-control" id="periodTwo"/>
							</div>
						</div>
						<div class="col-12 mb-3 d-flex">
							<div class="col-3">
								<label>Period 3</label>
							</div>
							<div class="col-9">
								<input type="datetime-local" class="form-control" id="periodThree"/>
							</div>
						</div>
						<div class="col-12 mb-3 d-flex">
							<div class="col-9">
								<input type="submit" class="btn btn-primary btn-purple" value="SAVE" id="submit">
								<input type="reset" class="btn btn-secondary" value="RESET" id="reset">
							</div>	
						</div>
							<div class="col-12 mb-3 d-flex">
							<div class="col-6">
								<input type="button" class="btn btn-success" value="START JOB" id="startJob">
								<input type="button" class="btn btn-danger" value="STOP JOB" id="stopJob">
							</div>	
						</div>
						<div class="col-12 mb-3 d-flex">
							<div id="result" class="col-8" style="border-radius: 0.4rem; padding: 0.5rem;"></div>
						</div>
					</div>
					<div class="col-2 pt-10">
						<img alt="white logo emkan" src="/img/logo-white.png" width="70%">
					</div>
				</div>
				</form>
		</div>
		<script type="text/javascript" src="/js/jquery-3.6.3.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>